body {
    background:white;
    color:#333333;
    font-family: Arial,sans-serif;
    text-align: center;
    padding: 40px;

}
h1{
    color:#6c4cff
    font-size  48px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;

}
.box{
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    border: 2px solid #6c4cff;
    border-radius: 15px;
    background: #f8f8ff;
    text-align: left;

}